apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ secrets.kubeconfig_ca }}
    server: {{ secrets.controlplane_endpoint }}
  name: talos-proxmox-cluster
contexts:
- context:
    cluster: talos-proxmox-cluster
    namespace: default
    user: admin@talos-proxmox-cluster
  name: admin@talos-proxmox-cluster
current-context: admin@talos-proxmox-cluster
kind: Config
preferences: {}
users:
- name: admin@talos-proxmox-cluster
  user:
    client-certificate-data: {{ secrets.kubeconfig_client_crt }}
    client-key-data: {{ secrets.kubeconfig_client_key }}
